$carousel-max-width: 500px;
$carousel-min-width: 200px;
$sidebar-width: 300px;

$navbar-height: 80px;

$border-radius: 10px;

//====================== font========================
$font-family: 'Poppins', sans-serif;

//====================== color=======================
$primary: #353f59;
$secondary: #7d8695;

$white: #fff;

$blue-light: #55596c;

$gray-light: #7d8695;
$gray-bold: #55596c;

$red-bold: #E71C61;

$yellow: #fa7b07;

// ===================== font size ======================

