$navbar-height: 80px;

//====================== font========================
$font-family: 'Poppins', sans-serif;

//====================== color=======================
$primary: #353f59;
$secondary: #7d8695;

$blue-light: #55596c;

$gray-light: #7d8695;
$gray-bold: #55596c;

$red-bold: #E71C61;

$yellow: #fa7b07;

