@use 'assets/styles/' as *;

.carousel-section{
  margin-top: 3rem;

  &__header{
    @include flex(space-between, center);

    &--left{
      @include flex(unset, center);
      gap: 25px;
    }
  }

  &__selection{
    @include flex(unset, center);

    border: 1px solid $primary;
    border-radius: 999px;

    &--anchor{
      padding: 5px 20px;

      cursor: pointer;

      background-color: $white;
      border-radius: inherit;

      transition: all .5s ease;

      &.selected{
        color: $white;

        background-color: $red-bold;

        border-radius: 999px;

        padding: 5px 30px;
      }
    }
  }
}

// custom swiper
.swiper-container{
  & > * ~ * {
    margin-top: 10px;
  }
}
.swiper-wrapper{
  padding: 1.5rem 0 1.75rem;
}
.swiper-scrollbar{
  height: 7px;
  cursor: grabbing;
}
.swiper-slide{
  width: auto;
}
.swiper-scrollbar-drag{
  width: 200px;
}