@use 'assets/styles/' as *;

.carousel-section{
  margin-top: 3rem;

  &__header{
    @include flex(space-between, center);

    &--left{
      @include flex(unset, center);
      gap: 25px;
    }
  }

  &__title{
    text-transform: uppercase;
    font-size: 1.5rem;

    border-left: 5px solid $red-bold;
    padding-left: 1rem;
  }

  &__selection{
    @include flex(unset, center);

    border: 1px solid $primary;
    border-radius: 999px;

    &--anchor{
      padding: 5px 20px;

      cursor: pointer;

      background-color: $white;
      border-radius: inherit;

      transition: all .5s ease;

      &.selected{
        color: $white;

        background-color: $red-bold;

        border-radius: 999px;

        padding: 5px 30px;
      }
    }
  }
}

.carousel{
  &__item{
    width: 100%;
    max-width: $carousel-max-width;
    min-width: $carousel-min-width;

    &__poster{
      position: relative;      
      height: 350px;

      background-size: cover;
      background-repeat: no-repeat;
      border-radius: $border-radius;

      &__media{
        position: absolute;
        bottom: 3%;
        left: 0;
        right: 0;
        padding: 0 1rem;

        @include flex(space-between, center);

        font-size: 2rem;
        color: $white;

        &--rating{
          background-color: $white;

          color: $primary;
          font-size: .85rem;
          padding: 2px 13px;
          border-radius: 999px;
        }
      }
    }

    &__content{
      margin-top: 10px;
      @include flex(space-between, center);

      &__detail{
        width: 80%;
        
        &--title{
          font-size: 1rem;
          margin-bottom: 7px;
        }
        &--info{
          @include flex(unset, center);
          gap: 10px;
          
          color: $secondary;
          font-size: .8rem;

          & > * ~ * {
            border-left: 2px solid $red-bold;
            text-indent: 7px;
          }
        }
      }
    }

    &--reaction{
      font-size: 1.5rem;
      color: $secondary;

      &.love{
        color: $red-bold;
      }
    }
  }
}

// custom swiper
.swiper-container{
  & > * ~ * {
    margin-top: 10px;
  }
}
.swiper-wrapper{
  padding: 1.5rem 0 1.75rem;
}
.swiper-scrollbar{
  height: 7px;
  cursor: grabbing;
}
.swiper-slide{
  width: auto;
}
.swiper-scrollbar-drag{
  width: 200px;
}