@use 'assets/styles/' as *;

#sidebar {
	max-width: $sidebar-width;
	width: 100%;

	flex: 1;

	height: 100vh;
	padding: 0rem 1.5rem;

	border-right: 2px solid rgba($color: $gray-light, $alpha: 0.3);

	&__header {
		@include flex(unset, center);
		height: $navbar-height;
		gap: 10px;

		&__image img {
			height: 45px;
			object-fit: cover;

			border-radius: 999px;
		}
	}
	&__content {
		& > * ~ * {
			margin-top: 20px;
		}
	}
}
