@use './assets/styles/' as *;

body{
  font-family: $font-family;
  font-weight: 400;

  color: $primary;
}

.uppercase{
  text-transform: uppercase;
}

.App{
  @include flex(unset, unset);
}

.main{
  padding: 0 3rem;
  max-width: 1440px;
  flex: auto;
}
